* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    list-style: none;
}

:root {
    font-size: 50%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 5rem;
    color: #7909AF;
    padding: 10px 0px;
}

h2 {
    font-size: 2rem;
    color: #9833ca;
}

h2.sub {
    font-size: 3.5rem;
    color: #7909AF;
}

h3.sub {
    font-size: 2.5rem;
    color: #7909AF;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
    color: #9833ca;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(180deg, #193282 16.47%, rgba(196, 196, 196, 0) 100%);
}

header img {
    height: 60px;
}

main {
    padding: 80px 0;
    justify-self: center;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

ul.links {
    display: inline;
}

ul.links li {
    padding: 15px 0px;
}

ul.links li a {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    font-size: 2rem;
    color: white;
    background-color: #7909AF;
    padding: 10px 10px;
    border-radius: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 70px;
    margin-bottom: 0;
    background: linear-gradient(180deg, rgba(255, 254, 254, 0.527) 0%, #752995 100%);
}

footer h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: auto auto;
    margin-bottom: 10px;
    font-size: 2rem;
}

ul.links {
    margin-top: 50px;
}

ul.links li a:hover {
    background: #193282;
}

#programacao ul li {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

#programacao ul li .box {
    padding-left: 20px;
}

.box h2 {
    text-align: left;
}

.box h3 {
    text-align: left;
}

.circle {
    border-radius: 100px;
    height: 50px;
    width: 50px;
    min-width: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #742A95 0%, #022678 100%);
}

.circle h3,
.circle h2 {
    color: white;
}

.parceiros {
    margin-top: 50px;
}

.parceiros ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.parceiros ul li {
    height: 80px;
    padding: 50px 0;
}

.you img {
    width: 70px;
}

.parceiros ul img {
    max-height: 80px;
}

@media only screen and (max-width: 600px) {
    .content {
        width: 94%;
    }
}